{% extends "base.html" %}
{% load bootstrap4 %}
{% load static%}

{% block content %}

<div class="container">
  <div class="booking-form3">
    <h3 style="padding-top: 5%;">Update Employee Details</h3>
  
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="form-group text-center">
        <button type="submit" class="bg-dark text-white" value="">Submit</button>
      </div>
  </form>
  </div>
</div>
{%endblock%}