{% extends "base.html" %}
{% load static%}
{% load bootstrap4 %}
{% block content %} 
<div class="container mt-5">
  <center><div><h2 class="bg-primary text-white">Employees</h2></div></center>
    <table class="table">
      <thead class="bg-danger text-white">
        <tr>
          <th>Photo</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Role</th>
          <th>Email</th>
          <th>Phone</th>
          <th>manager</th>
          
        </tr>
      </thead>

      <tbody>
        {% for employee in employees %}
        <tr>
          <td><img src="{{employee.image.url}}" width="50" style="border-radius: 50%;" alt="Employee Photo"></td>
          <td>{{employee.first_name}}</td>
          <td>{{employee.last_name}}</td>
          <td>{{employee.role}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.phone}}</td>
          <td>{{employee.manager}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{%endblock%}
    
 
